<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，
 你会看到log4j2内部各种详细输出。可以设置成OFF(关闭)或Error(只输出错误信息)
-->
<Configuration status="Error">
    <!-- 日志文件目录和压缩文件目录配置 -->
    <Properties>
        <Property name="level">INFO</Property>
        <property name="app.name">wechat</property>
        <property name="basePath">${sys:user.home}/Desktop/logs/${app.name}</property>
        <property name="error-msg">${basePath}/${app.name}-error.log</property>
        <property name="warn-msg">${basePath}/${app.name}-warn.log</property>
        <property name="info-msg">${basePath}/${app.name}-info.log</property>
        <property name="fatal-msg">${basePath}/${app.name}.log</property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %logger{36} %L %M - %msg%xEx%n
        </Property>

        <Property name="fileGz">${sys:user.home}/Desktop/logs/gz</Property>
    </Properties>

    <Appenders>
        <!-- 输出控制台日志的配置 -->
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="${level}" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!--Info级别日志输出-->
        <!-- 打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingRandomAccessFile name="infoFile" fileName="${info-msg}" immediateFlush="false"
                                 filePattern="${fileGz}/$${date:yyyy-MM}/douniu-api-%d{MM-dd-yyyy}-%i.info.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <!-- 只记录info和warn级别信息 -->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <!--Error级别日志输出-->
        <RollingRandomAccessFile name="errorFile" fileName="${error-msg}" immediateFlush="false"
                                 filePattern="${fileGz}/$${date:yyyy-MM}/douniu-api-%d{MM-dd-yyyy}-%i.error.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <!--warn级别日志输出-->
        <RollingRandomAccessFile name="warnFile" fileName="${warn-msg}" immediateFlush="false"
                                 filePattern="${fileGz}/$${date:yyyy-MM}/douniu-api-%d{MM-dd-yyyy}-%i.warn.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <!--Fatal级别日志输出-->
        <RollingRandomAccessFile name="fatalFile" fileName="${fatal-msg}" immediateFlush="false"
                                 filePattern="${fileGz}/$${date:yyyy-MM}/douniu-api-%d{MM-dd-yyyy}-%i.fatal.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.mybatis" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <!--监控系统信息-->
        <!--若是additivity设为false，则 子Logger 只会在自己的appender里输出，而不会在 父Logger 的appender里输出。-->
        <Logger name="org.springframework" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <AsyncRoot level="${level}" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="infoFile"/>
            <AppenderRef ref="errorFile"/>
            <AppenderRef ref="warnFile"/>
            <AppenderRef ref="fatalFile"/>
            <!-- 第三方日志系统 -->
            <!--过滤掉spring和mybatis的一些无用的INFO信息-->
            <logger name="org.springframework" level="INFO" />
            <logger name="org.mybatis" level="INFO" />
            <logger name="org.apache.http" level="WARN"/>
            <Logger name="org.apache.zookeeper" level="WARN"/>
            <Logger name="org.apache.dubbo" level="WARN"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
